.banner>img {
  width: 100%;
}

.news-list {
    margin-bottom: 50px;
}

.news-list .time-range {
  height: 90px;
  background: #f1f1f1;
  width: 100%;
}
.news-list .time-range .form-group{
  margin-bottom: 0;
}
.news-list .time-range .form-group select{
  border: none;
  background-color: transparent;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  font-size: 18px;
  width: 100%;
  height: 90px;
  padding: 0 60px;
}
.news-list .time-range .form-group select:hover{
  color: red;
  cursor: pointer;
}
.news-list .time-range .form-group select:hover option{
  padding: 0 60px;
  font-size: 14px;
  color: black;
}
.news-list .time-range .form-group select:focus{
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.news-list .content {
    margin-top: 88px;
}

.news-list .content>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news-list .content>ul>li {
  padding: 25px 50px;
  border: 1px solid #dbdada;
  margin-bottom: 25px;
}

.news-list .content>ul>li>div>a {
  font-size: 20px;
  color: #333;
}
.news-list .content>ul>li a:hover {
  text-decoration: none;
  color: #dc1e32;
}

.news-list .content>ul>li>p {
  font-size: 16px;
  color: #333;
  line-height: 24px;
  margin-top: 15px;
  display: inline-block;
}
